<template name="acceptSwop">
  <div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Swop Requests</th>
                </tr>
              </thead>
              <tbody>
                {{#each mySwops}}
                  {{> mySwop}}
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Adverts</div>
          <div class="panel-body">
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
          </div>
        </div>
      </div>

    </div>


  </div>
</template>

<template name="mySwop">
  <tr>
    <td>
      <div class="row">
        <div class="col-xs-8">
          <div><p>{{myEmail}} wants to swop. {{theYouToDo}} {{BackFromRef}} {{BackToRef}} </p></div>
        </div>
        <div class="col-xs-4">
          <div class="pull-right">
            <button type="button" class="btn btn-primary {{_id}}A" data-toggle="tooltip" data-placement="left" title="Hooray!"  {{newMeButton}}>Accept</button>
            <button type="button" class="btn btn-default {{_id}}D" data-toggle="tooltip" data-placement="left" title="Decline Swop - Requestor will be notified"  {{newMeButton}}>Decline</button>
          </div>
        </div>
      </div>
    </td>
  </tr>
</template>