<template name="addResponse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9">

        <form class="js-addResponse-query-form"><table>
          <tr>
            <th class="input-text"><label>Query</label></th>
            <th class="input-box ">
              <div class="input-group ">
                <input type="text" class="form-control" id="serviceQueryText" value={{serviceQuery}}>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"  style="background-color: #f8f8f8;">@</button>

                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </th>
          </tr>
        </table></form>

        <table>
          <tr>
            <th class="input-text"><label>Service</label></th>
            <th class="input-box">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: #f8f8f8;">
                    <span class="text-danger small"><small>{{pullDownCount}}</small></span>

                    <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <!-- <li>{{> TreeView treeArgs }}</li> -->
                    {{#each myServices}}
                      <li>{{> myOrgService}}</li>
                    {{/each}}

                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </th>
          </tr>
        </table>

        <table>
          <tr>
            <th class="input-text"><label>Date</label></th>
            <th class="input-box">
              <div id="addResponse-datepicker">
                <div class="input-group date">
                  <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
              </div>
            </th>
          </tr>
        </table>
        <table>
          <tr>
            <th class="input-text"><label>Slot</label></th>
            <th class="input-box">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: #f8f8f8;">&nbsp; <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>8:00am</li>
                    <li>9:00am</li>
                    <li>10:00am</li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<template name="myOrgService">

  <div class="checkbox">
    <label>
      <input type="checkbox" checked={{displayIt}} id={{_id}}>
      {{org}}: {{title}}
    </label>
  </div>

</template>