<template name="calendar">
  <div class="container-fluid">

    <button class="gotoMonth">Month</button>
    <button class="gotoDay">Day</button>
    {{> fullcalendar
        class="mainCalendar"
        defaultView='month'
        timezone='local'
        defaultDate=defaultDate
        events=events

        allDaySlot=false
        slotDuration='00:60:00'
        dayClick=dayClick
        eventDrop=eventDrop
        eventDragStop=eventDragStop
        eventDragStart=eventDragStart
        eventMouseover=eventMouseover
        eventClick=eventClick

    }}
  </div>
</template>