<template name="calendar">
  <div class="container">
    <div class="row">
      <div class="col-md-10">.col-md-10</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>

    <button class="gotoMonth">Month</button>
    <button class="gotoDay">Day</button>
    {{> fullcalendar
        class="mainCalendar"
        defaultView='month'
        timezone='local'
        defaultDate=defaultDate
        events=events
        eventClick=onEventClicked
        dayClick=dayClick
        eventDrop=eventDrop
        eventClick=eventClick

    }}
  </div>
</template>