<template name="homeMine">
  <div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9">

        <div class="jumbotron">
          <h1 class="text-center">Schedule anything</h1>
          <img src="img/golden_abacus.jpg" alt="Golden Abacus" class="img-responsive center-block">
          <p></p>
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="text-center"><span>AbacuZ the A to Z of scheduling</span></p>
            </div>
          </div>
          <div class="gary">
            <!-- <div style="display: flex; align-items: center; justify-content:center"> -->

            <div style="display: flex; "><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></div>

          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content:center; background-color:lightgreen;">
          <div style="display: flex; flex: 0 0 33%; background-color: lightblue; "><h3 class="text-center">FRED</h3></div>
          <div style="display: flex; background-color: red; ">JACK</div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">Adverts</div>
          <div class="panel-body">
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
            <p>Advert here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="homeOpen">
  <div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">

          <div class="panel-body">
            <span>Home open</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>