<template name="me">
  <div class="container">


    <form class="js-select-subs-form">
      <div class="form-group">

        <div class="row">
          <div class="col-md-9">
            <p>Select a service that you want to subscribe to:</p>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">

          <div class="col-md-9">

            <select class="form-control" id="select_from">
              {{#each getServices}}
                <option value={{_id}}>{{title}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-default"  {{moveMeFromButton}}>Add Subscription</button>
          </div>

        </div>
      </div>

    </form>

    <form class="js-my-services-form">
      <p>Select the subscriptions that you want to work with:</p>
      <div class="form-group">
        {{#each myServices}}
          {{> myService}}
        {{/each}}
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>
</template>

<template name="myService">

    <div class="checkbox">
      <label>
        <input type="checkbox" checked={{displayIt}} id={{_id}}>
        Sub: {{title}}
      </label>
    </div>

</template>