<template name="oneMine">
  <div class="container-fluid">

    <div style="border: dashed; overflow: auto">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->

      <div style="float: left; padding-right: 15px;">
        <div class="panel panel-default">
          <div class="panel-heading">Select the Service that you want to Respond to:</div>
          <div class="panel-body">
            {{> TreeView treeArgs }}
          </div>
        </div>
      </div>
      <div style="float: left; padding-right: 15px;">
        <div class="panel panel-default">
          <div class="panel-heading">and Select the Date:</div>
          <div class="panel-body">
            <div id="my-datepicker" ></div>
            <input type="text" id="my_hidden_input">
          </div>
        </div>
      </div>
    </div>



<div style="border: dotted; float: none; overflow: auto">
    <table class="table table-bordered" style="width: 350px;">
      <tr>
        <th>
          <b>Select the Service that you want to Respond to:</b>
        </th>
      </tr>
      <tr>
        <td>
          {{> TreeView treeArgs }}
        </td>
      </tr>
    </table>

    <table class="table table-bordered" style="width: 350px; float: left">
      <tr>
        <th>
          <b>and Select the Date:</b>
        </th>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </table>


</div>

<p style="float: none;">fred face</p>

    {{> avatar userId="zCWcP8DPe6dqQ2t6E" shape="circle"}}
    {{> avatar userId="csDBRp7CZK9St486r" shape="circle"}}
    {{> avatar userId="J9Rm2KWthurcr7fHE" shape="circle"}}

    <button class="js-facebook">facebook</button>

    {{> home5}}

  </div>
</template>

<template name="oneOpen">
  <div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">

          <div class="panel-body">
            {{> home5}}
            <span>One open</span>
            {{> avatar userId="zCWcP8DPe6dqQ2t6E" shape="circle"}}
            {{> avatar userId="csDBRp7CZK9St486r" shape="circle"}}
            {{> avatar userId="J9Rm2KWthurcr7fHE" shape="circle"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="home5">
  <button class="btn" id="btn-user-data">Get User Data</button>
  <div class="well">
    <pre id="result"></pre>
  </div>
  <button class="btn" id="btn-user-data2">Get Friend Data</button>
  <div class="well">
    <pre id="result2"></pre>
  </div>
  <img id="result3"  alt="avatar" style="border-radius: 50%;" onerror="this.style.display='none';" />
</template>
