<template name="oneMine">
  <div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">

          <div class="panel-body">
            <b>Select the Service you want to Respond to:</b>
            {{> TreeView treeArgs }}




          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <!-- <input type="text" class="form-control" id="my-datepicker"> -->
          <div id="my-datepicker"></div>
          <input type="text" id="my_hidden_input">
        </div>
      </div>

    </div>
  </div>
</template>

<template name="oneOpen">
  <div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">

          <div class="panel-body">
            <span>One open</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>