<template name="urturnForm">
  <div class="container">
    <p>Title: {{title}}</p>
    {{start}}
    {{BackRef}}
    {{user}}
   <!-- {{#each getSlots}}
      {{>tryIt}}
    {{/each}} -->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each getSlots}}
          <li><a href="#">{{title}}: {{start}}</a></li>
        {{/each}}

      </ul>
    </div>
  </div>
</template>

<template name="tryIt">

  <div class="container">
    <p>Title: {{title}}</p>
    {{start}}
    {{BackRef}}
    {{user}}

  </div>
</template>

