/* CSS declarations go here */
.fc-state-highlight {background: #ebfffc;}



#my-datepicker {
    border: thin;
    width: 250px;
    float: none;
    padding-left: 5px;
}

/* see if VCS takes this */